<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<context:property-placeholder location="classpath:sports.properties"/>
<bean id="fortuneService" class="com.mycompany.spring_demo3.HappyFortuneService"></bean>
	<bean id="theCoach"
		class="com.mycompany.spring_demo3.TennisCoach" init-method="initCoach" destroy-method="preDestroyCoach">
		<property name="age" value="${foo.age}"/>
		<property name="email" value="${foo.email}"></property>
		<property name="fortuneService" ref="fortuneService"></property>
	</bean>
</beans>
